/* Navigation bar */
body {
    font-family: 'Slabo 27px';
}

.navbar-default {
    background-color:#700ada;
    font-size: 18px;
    border: none;
}

.navbar-image{
   height: 40px;
   margin-top: -9px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
    /* background-color: #000; */
    color: #ae97de;
}

.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-brand:active {
     background-color: #660080; 
    color: #ffffff;
}
.navbar-right{
   
    color: #ffffff;
    
}

.navbar-default .navbar-header .navbar-toggle .icon-bar {
    background-color: #ffffff;
}


/* Images and specific placement items*/


span {
  display: table-cell;
  vertical-align: middle;
}

.footer {
  margin-bottom: 0px;
}

/* Social Media images need to be smaller on mobile devices */

.social-media {
  width: 35px;
  height: 35px;
}

.social-media-images {
    width: 100%;
}
.navbar-footer {
    margin: 2px auto;
    /*line-height: 1.4;*/
    padding-left: 0;
}
.navbar-footer li {
    display: inline-block;
    text-align: center;
}



/* Social Media images can be larger on desktop/laptop/large screen devices */

.social-media-images {
    width: 100%;
    text-align: center;
    margin: ;
}

.decor-image {
  width: 170px;
  height: 170px;
  margin-bottom: 10px;
}

.sp-logo { /*sponsor logo*/
    width: 200px;
    height: auto;
    margin-bottom: 50px;
}


.bg {
  background:  linear-gradient(rgba(132,75,191, 0.5), rgba(56,4,109, 0.1)), url('../images/slideshow/12.5.JPG') no-repeat center center ;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 400px; /* must be the same height as the jumbotron-landing */
  top:50;
  left:0;
  z-index: -2;
}

.banner {
    background:  linear-gradient(rgba(132,75,191, 0.5), rgba(255,255,255, 0.4)), url('../images/welcomeBackground.jpg') no-repeat;
background-size: cover;
    z-index: 33;
    height: 500px;
}

.jumbotron-landing {
  height: 400px;
  width:100%;
  color: white;
  text-shadow: #444 0 5px 5px;
  text-align: center;
  background: transparent;
  display: table;
}

.


 /*programming competition css*/

#pcintro{
    
    width: 50%;
    margin: 0 auto;
    text-shadow: #fff 0 0 0;
    font-size: 20px; 
    padding: 30px;

}

.pcbg {
    background: linear-gradient(rgba(132,75,191, 0.5), rgba(56,4,109, 0.5)), url('../images/pcheader.png') no-repeat center center; 
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 500px; /* must be the same height as the jumbotron-landing */
    top:0;
    left:0;
    z-index: -1;
    opacity: 0.8;

  }

.pcjumbotron-landing {
    height: 500px;
    width:100%;
    color: white;
    text-shadow: #444 0 5px 5px;
    text-align: center;
    background: transparent;
  
    display: table;
  }

/* Tablets, laptops, etc have a large enough screen to see the line appropriately */
@media (min-width: 768px) {
.sexy_line{
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#660080), to(#fff));
    margin-bottom: 50px;
}

.sexy_line_2{
    display:block;
    border:none;
    color:white;
    height:1px;
    background:#660080;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(#660080));
    margin-bottom: 50px;
}
}

/* Hide line and just put padding on the bottom for mobile devices */
@media (max-width: 768px) {
.sexy_line{
    display:block;
    border:none;
    margin-bottom: 50px;
}

.sexy_line_2{
    display:block;
    border:none;
    margin-bottom: 50px;
}
}

#about {
    background: white;
    color: #700ada;
}

#meetings {
background:  linear-gradient(rgba(132,75,191, 0.5), rgba(255,255,255, 0.4)), url('../images/welcomeBackground.jpg') no-repeat;
background-size: cover;

}

#sponsors {
    background: white;
    color: #700ada;
}

#pcinfo {
    background: white;
    color: #700ada;
}

.stack {
    height: 550px;
    width:100%;
    color: white;
    text-align: center;
    background: transparent;
    display: table;
    margin-bottom: 0px;
}
.pcstack {
     width:100%;
    height: 45%;
    font-size: 20px;
    color: white;
    text-align: center;
    display: table;
    margin-bottom: 0px;  
}


.text {
    vertical-align: top;
}

.stack-text {
    margin-bottom: 20px;
}

.copyright {
    color: white;
    font-size: 12px;
    text-align: center;
}

#calendar {
 background:  linear-gradient(rgba(132,75,191, 0.5), rgba(255,255,255, 0.4)), url('../images/welcomeBackground.jpg') no-repeat;
background-size: cover;   
}


